@import './base.css';
*{
  margin: 0px;
  padding: 0px;
}
.page{
  padding: 0 20px;
}
.ml5{
  margin-left: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.ml10 {
  margin-left: 10px;
}

.mt10 {
  margin-top: 10px;
}
.mr10{
  margin-right: 10px;
}
.fl{
  float: left;
}
.fr{
  float: right;
}